/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "style/custom.bootstrap.min.css";

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
.card {
    border: none;
    margin-bottom: 15px;
}

.card-body {
    border: 1px solid rgba(0,0,0,.125);
    border-top: none;
}

.card-body .row {

    margin-bottom: 15px;

}


/*Specific Cases*/

.btn {
    margin-top: 10px;
    border-radius: 0;
  }