<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-12 text-left">
      <p *ngIf="!user">Hier können Sie sich für das Notrufsystem des Roten Kreuzes anmelden. Dafür müssen Sie sich erst Anmelden oder falls Sie bereits registriert sind, können Sie sich einloggen. Sobald Sie eingeloggt sind, wird das Formular aufgeschaltet.</p>
      <h1 *ngIf="user">Notrufdaten</h1>
      <p *ngIf="user">Bitte füllen Sie alle Felder sorgfältig aus. Falls Sie Hilfe benötigen können Sie uns gerne unter der Nummer 044 444 44 44 erreichen.</p>
      <hr *ngIf="user">
      <form #userEmergencyForm="ngForm" *ngIf="user" (ngSubmit)="updateUserData(userEmergencyForm)" >
        <ngb-accordion #acc="ngbAccordion" activeIds="general">
          <ngb-panel id="general" title="Allgeimene Angaben">
            <ng-template ngbPanelContent>
              <div class="col-12">
                <div class="row" *ngIf="authError">
                  <div class="col-12 alert alert-danger">
                    {{ authError?.message }}
                  </div>
                </div>
                <div class="row">
                    <input ngModel #uid="ngModel" name="uid" type="text" hidden class="form-control"
                    [(ngModel)]="user.uid" id="uid" required>
                  <div class="col s6">
                    <label for="firstName">Vorname</label>
                    <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control"
                      [(ngModel)]="userData.firstName" id="firstName">
                  </div>
                  <div class="col s6">
                    <label for="lastName">Nachname</label>
                    <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName"
                      [(ngModel)]="userData.lastName" required>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col s12">
                      <label for="street">Strasse</label>
                      <input ngModel #street="ngModel" name="street" type="text" class="form-control"
                        [(ngModel)]="userData.street" required>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col s6">
                      <label>PLZ</label>
                      <input name="postcode" type="number" class="form-control" ngMin="0000" ngMax="9999"
                        [(ngModel)]="userData.postcode" required>
                    </div>
                    <div class="col s6">
                      <label>Ort</label>
                      <input name="place" type="text" class="form-control" [(ngModel)]="userData.place" required>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="row">
                    <div class="col s6">
                      <label for="password">Telefon Privat</label>
                      <input ngModel #privatePhone="ngModel" name="privatePhone" type="text" class="form-control"
                        [(ngModel)]="userData.privatePhone" required>
                    </div>
                    <div class="col s6">
                      <label>Telefon Mobil</label>
                      <input ngModel #mobilePhone="ngModel" name="mobilePhone" type="text" class="form-control"
                        [(ngModel)]="userData.mobilePhone" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s6">
                    <label>Geburtsdatum</label>
                    <input name="birthdaydate" type="date" class="form-control" [(ngModel)]="userData.birthdaydate" required>
                  </div>
                  <div class="col s6">
                    <label for="email">Email</label>
                    <input ngModel #email="ngModel" name="email" type="email" class="form-control"
                      [(ngModel)]="user.email" required>
                  </div>
                </div>

              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" type="submit">Absenden</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-2 sidenav">
      <!--<div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>-->
    </div>
  </div>
</div>

<!--
<div class="container-fluid text-center">
    <div class="row">
        <app-orders class="col s6"></app-orders>
        <app-order-list class="col s6"></app-order-list>
    </div>
</div>-->